{:distance {
   :stride 0.7112 ; meters
   :mile 1609.34 ; meters
   }
 :geography {
   :planet-radius 6371000 ; meters
   :arctic-circle 66.57 ; degrees N
   :tropic-cancer 23.43 ; degrees N
   :tropic-capricorn -23.43 ; degrees N
   :antarctic-circle -66.57 ; degrees N
   :meridian-separation 30 ; degrees
   :latitude-circles 89
   :colors {
     :altitudes {
       :-25000 {:red 0 :green 49 :blue 115}
       :-24000 {:red 0 :green 49 :blue 116}
       :-23000 {:red 0 :green 51 :blue 119}
       :-22000 {:red 1 :green 49 :blue 116}
       :-21000 {:red 1 :green 50 :blue 116}
       :-20000 {:red 1 :green 50 :blue 117}
       :-19000 {:red 2 :green 50 :blue 117}
       :-18000 {:red 2 :green 50 :blue 118}
       :-17000 {:red 3 :green 50 :blue 119}
       :-16000 {:red 3 :green 51 :blue 120}
       :-15000 {:red 4 :green 51 :blue 120}
       :-14000 {:red 4 :green 51 :blue 121}
       :-13000 {:red 5 :green 51 :blue 121}
       :-12000 {:red 5 :green 51 :blue 122}
       :-11000 {:red 6 :green 52 :blue 122}
       :-10000 {:red 6 :green 52 :blue 123}
       :-9000 {:red 7 :green 52 :blue 124}
       :-8000 {:red 7 :green 52 :blue 125}
       :-7000 {:red 8 :green 53 :blue 125}
       :-6000 {:red 8 :green 53 :blue 126}
       :-5000 {:red 9 :green 53 :blue 126}
       :-4000 {:red 9 :green 53 :blue 127}
       :-3000 {:red 10 :green 54 :blue 128}
       :-2000 {:red 11 :green 56 :blue 133}
       :-1000 {:red 23 :green 65 :blue 157}
       ;; Lowlands
       :1000 {:red 0 :green 68 :blue 0}
       :2000 {:red 22 :green 79 :blue 0}
       :3000 {:red 34 :green 102 :blue 0}
       :4000 {:red 51 :green 102 :blue 0}
       :5000 {:red 34 :green 136 :blue 0}
       :6000 {:red 102 :green 130 :blue 0}
       :7000 {:red 119 :green 170 :blue 0}
       :8000 {:red 187 :green 221 :blue 0}
       :9000 {:red 147 :green 136 :blue 11}
       ;; Midlands
       :10000 {:red 255 :green 187 :blue 34}
       :11000 {:red 238 :green 170 :blue 34}
       :12000 {:red 221 :green 136 :blue 34}
       :13000 {:red 204 :green 136 :blue 34}
       ;; Highlands
       :14000 {:red 164 :green 119 :blue 22}
       :15000 {:red 153 :green 102 :blue 22}
       :16000 {:red 187 :green 102 :blue 34}
       :17000 {:red 170 :green 85 :blue 34}
       :18000 {:red 153 :green 85 :blue 34}
       :19000 {:red 136 :green 68 :blue 34}
       :20000 {:red 119 :green 51 :blue 34}
       :21000 {:red 85 :green 51 :blue 17}
       :22000 {:red 68 :green 34 :blue 0}
       ;; Snow summits/glaciers
       :23000 {:red 255 :green 255 :blue 255}
       :24000 {:red 214 :green 214 :blue 214}
       :25000 {:red 205 :green 205 :blue 205}
       :26000 {:red 196 :green 196 :blue 196}
       :27000 {:red 188 :green 188 :blue 188}
       :28000 {:red 185 :green 185 :blue 185}
       :29000 {:red 179 :green 179 :blue 179}
       :30000 {:red 170 :green 170 :blue 170}}
     :biomes {
       ;; Lowlands and Tropics
       :coastal-lowlands {:red 235 :green 240 :blue 150}
       :lowlands {:red 160 :green 209 :blue 76}
       :forest-lowlands-hardwood {:red 74 :green 127 :blue 47}
       :forest-lowlands-mixed #{{:red 63 :green 173 :blue 67}
                                {:red 0 :green 122 :blue 31}}
       :forest-lowlands-conifer #{{:red 63 :green 173 :blue 67}
                                  {:red 21 :green 98 :blue 32}}
       :grasslands {:red 43 :green 79 :blue 12}
       :shrub-and-grasslands {:red 64 :green 70 :blue 6}
       ;; Midlands and Temperate
       :shrublands {:red 108 :green 77 :blue 0}
       :forest-hardwood {:red 104 :green 92 :blue 1}
       :forest-mixed {:red 205 :green 201 :blue 5}
       :forest-conifer #{{:red 120 :green 112 :blue 7}
                         {:red 156 :green 135 :blue 18}}
       ;; Highlands and Arctic
       :forest-boreal #{{:red 52 :green 92 :blue 110}
                        {:red 66 :green 103 :blue 130}
                        {:red 51 :green 108 :blue 120}}
       :montane-grasslands {:red 108 :green 152 :blue 201}
       :rock-and-ice #{{:red 20 :green 48 :blue 108}
                       {:red 56 :green 75 :blue 113}}
       :tundra #{{:red 98 :green 115 :blue 145}
                 {:red 186 :green 207 :blue 236}}
       ;; Ice and Glaciers
       :glacier #{{:red 255 :green 255 :blue 255}
                  {:red 216 :green 216 :blue 216}
                  {:red 209 :green 209 :blue 209}
                  {:red 202 :green 202 :blue 202}
                  {:red 200 :green 200 :blue 200}
                  {:red 195 :green 195 :blue 195}
                  {:red 188 :green 188 :blue 188}
                  {:red 181 :green 181 :blue 181}}}
     ;; LSI
     :land {:blue 30 :green 120 :red 196}
     :sea {:blue 119 :green 51 :red 0}
     :ice {:blue 255 :green 255 :red 255}}}
 :logging {
   :level :debug
   :nss [hxgm30]}
 :maps {
   :mercator {
     :max-latitude 82  ; degrees N
     :min-latidude -82 ; degrees N
     }
   :altitude "001-sinusoidal-altitude"
   :biomes "001-sinusoidal-biomes"
   :ls "001-sinusoidal-ls"
   :lsi "001-sinusoidal-lsi"
   :pixels {
     ;; With these values, one pixel is approximately the area of a city
     ;; whose size is between that of Chicago and El Paso, ~ 626 km^2.
     ;;
     ;; Walking for two pixels is approximately the same distance as walking
     ;; the length of the Chunnel (between England and France), or 50 km.
     ;;
     ;; Note that the average size of a medieval "city" was ~ 2.6 km^2. As
     ;; such, in one pixel you could fix 100 medieval cities. Which, of
     ;; course is absurd ;-) But! If one uses the oft-quoted measure of
     ;; placing cities a distance that can be walked, there and back, in one
     ;; day, one pixel can hold, for example, one whole city (10 mile radius),
     ;; two halves of two cities, and one quarter of another city.
     :x 1600
     :y 1020
     :starting-row 111
     :ending-row 909}}}
