{:distance {
   :stride 0.7112 ; meters
   :mile 1609.34 ; meters
   }
 :geography {
   :planet-radius 6371000 ; meters
   :arctic-circle 66.57 ; degrees N
   :tropic-cancer 23.43 ; degrees N
   :tropic-capricorn -23.43 ; degrees N
   :antarctic-circle -66.57 ; degrees N
   }
 :logging {
   :level :debug
   :nss [hxgm30]}
 :maps {
   :mercator {
     :max-latitude 82  ; degrees N
     :min-latidude -82 ; degrees N
     }
   :altitude "001-sinusoidal-altitude"
   :biomes "001-sinusoidal-biomes"
   :ls "001-sinusoidal-ls"
   :lsi "001-sinusoidal-lsi"
   :pixels {
     ;; With these values, one pixel is approximately the area of a city
     ;; whose size is between that of Chicago and El Paso, ~ 626 km^2.
     ;;
     ;; Walking for two pixels is approximately the same distance as walking
     ;; the length of the Chunnel (between England and France), or 50 km.
     ;;
     ;; Note that the average size of a medieval "city" was ~ 2.6 km^2. As
     ;; such, in one pixel you could fix 100 medieval cities. Which, of
     ;; course is absurd ;-) But! If one uses the oft-quoted measure of
     ;; placing cities a distance that can be walked, there and back, in one
     ;; day, one pixel can hold, for example, one whole city (10 mile radius),
     ;; two halves of two cities, and one quarter of another city.
     :x 1600
     :y 1020}}}
